In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
nltk.download('stopwords')
import string
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from nltk.stem import SnowballStemmer
from nltk.corpus import stopwords
%matplotlib inline

emails = pd.read_csv(r'C:\Users\perro\HOML_proj\datasets_483_982_spam.csv', encoding='latin-1')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\perro\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [2]:
emails.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [3]:
emails.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
v1            5572 non-null object
v2            5572 non-null object
Unnamed: 2    50 non-null object
Unnamed: 3    12 non-null object
Unnamed: 4    6 non-null object
dtypes: object(5)
memory usage: 217.8+ KB

In [4]:
emails = emails.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], axis=1)
emails = emails.rename(columns={'v1': 'label', 'v2' : 'message'})

In [5]:
emails.iloc[0]['label']

'ham'

In [6]:
emails.loc[emails.label == 'spam']

     label                                            message
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
5     spam  FreeMsg Hey there darling it's been 3 week's n...
8     spam  WINNER!! As a valued network customer you have...
9     spam  Had your mobile 11 months or more? U R entitle...
11    spam  SIX chances to win CASH! From 100 to 20,000 po...
...    ...                                                ...
5537  spam  Want explicit SEX in 30 secs? Ring 02073162414...
5540  spam  ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE ...
5547  spam  Had your contract mobile 11 Mnths? Latest Moto...
5566  spam  REMINDER FROM O2: To get 2.50 pounds free call...
5567  spam  This is the 2nd time we have tried 2 contact u...

[747 rows x 2 columns]

In [7]:
emails.loc[emails.label == 'ham']

     label                                            message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
6      ham  Even my brother is not like to speak with me. ...
...    ...                                                ...
5565   ham                                       Huh y lei...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[4825 rows x 2 columns]

In [8]:
emails.iloc[5570]['message']

"The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"

In [9]:
emails.iloc[5540]['message']

'ASKED 3MOBILE IF 0870 CHATLINES INCLU IN FREE MINS. INDIA CUST SERVs SED YES. L8ER GOT MEGA BILL. 3 DONT GIV A SHIT. BAILIFF DUE IN DAYS. I O å£250 3 WANT å£800'

In [10]:
emails['length'] = emails['message'].apply(len)

In [11]:
average_spam_length = emails[emails.label == 'spam'].length.sum() / emails[emails.label == 'spam'].length.count()
average_ham_length = emails[emails.label == 'ham'].length.sum() / emails[emails.label == 'ham'].length.count()
print(average_spam_length)
print(average_ham_length)

138.8661311914324
71.02362694300518

In [12]:
def text_process(text):
    
    text = text.translate(str.maketrans('', '', string.punctuation))
    text = [word for word in text.split() if word.lower() not in stopwords.words('english')]
    
    return "".join(text)

In [13]:
text_features = emails['message'].copy()
text_features.head()

0    Go until jurong point, crazy.. Available only ...
1                        Ok lar... Joking wif u oni...
2    Free entry in 2 a wkly comp to win FA Cup fina...
3    U dun say so early hor... U c already then say...
4    Nah I don't think he goes to usf, he lives aro...
Name: message, dtype: object

In [14]:
text_features = text_features.apply(text_process)

In [15]:
text_features.head()

0    GojurongpointcrazyAvailablebugisngreatworldlae...
1                                   OklarJokingwifuoni
2    Freeentry2wklycompwinFACupfinaltkts21stMay2005...
3                          UdunsayearlyhorUcalreadysay
4                 Nahdontthinkgoesusflivesaroundthough
Name: message, dtype: object